<?xml version="1.0" encoding="utf-8" ?>
<!-- These are overrides for the RELEASE build configuration, that is for deployment to the SFTP server -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="AzureCfg" value="..\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="SourceDirectory" value="C:\POC\AudioSources" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ProcessingDirectory" value="C:\POC\Processing" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ProcessedDirectory" value="C:\POC\Processed" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="OutputDirectory" value="C:\POC\Output" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="OutputLogDirectory" value="C:\logs" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="C:\Logs\MLSandboxPOC-{Date}.txt" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>